{% extends "layout.twig" %}

{% block content %}
    <h2>{{ Page }}</h2>

    <table id="trajets">
        <thead>
        <tr>
            {% for header in Headers %}
                <td>{{ header }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for infos in Infos %}
            <tr>
                {% for info in infos %}
                    <td>{{ info }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        // Mon code Javascript
        $(document).ready(function() {
            $('#trajets').dynatable({
                table: {
                    defaultColumnIdStyle: 'trimDash'
                }
            });
        } );
    </script>
{% endblock %}